<!DOCTYPE html>
<html style="height: 100%;width:100%;">
<head>
</head>
<body style="margin: 0px;padding: 0px;height: 100%;">

    <iframe name="test" frameborder='0' style="height: 99.9%;width:99.9%;"  src='data:{{mimetype}};base64,{{data}}'></iframe>

</body>
</html>