{{#*inline "page"}}
    <h4>Zarejestruj się</h4>
    <form action="/" method="POST">
        <div class="mb-3">
            <label for="uname" class="form-label">Nazwa użytkownika</label>
            <input class="form-control" type='text' id='uname' name='uname'>
        </div>
        <div class="mb-3">
            <label for="pwd" class="form-label">Hasło</label>
            <input class="form-control" type='password' id='pwd' name='pwd'>
        </div>
        <button class='btn btn-success' type='submit'>Zarejestruj</button>
    </form>
    {{#if msg_rej}}
        <h6>
            <span class="badge bg-{{ msg_rej.html_color }}">{{ msg_rej.message }}</span>
        </h6>
    {{/if}}
    <br>
    <h4>Zaloguj sie</h4>
    <form action="/login" method="POST">
        <div class="mb-3">
            <label for="uname" class="form-label">Nazwa użytkownika</label>
            <input class="form-control" type='text' id='uname' name='uname'>
        </div>
        <div class="mb-3">
            <label for="pwd" class="form-label">Hasło</label>
            <input class="form-control" type='password' id='pwd' name='pwd'>
        </div>
        <button class='btn btn-success' type='submit'>Zaloguj się</button>
    </form>
    {{#if msg_login}}
        <h6>
            <span class="badge bg-{{ msg_login.html_color }}">{{ msg_login.message }}</span>
        </h6>
    {{/if}}
{{/inline}}
{{> layout}}