<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="">
        MainFrame
    </a>
    {{#if user}}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.Username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/logout">Wyloguj</a>
                    </div>
                    <a style="color: black;" href="/logout"></a>
                </li>
            </ul>
            {{!<form action="#" class="form-inline">}}
                <input onkeyup="navbar_search_changed(this.value)" class="form-inline mr-sm-2" type="search" placeholder="Szukaj" aria-label="Search">
            {{!</form>}}
        </div>
        <script>
            function navbar_search_changed(input){
                let li_s = document.getElementById("files_list").getElementsByTagName("li");
                let index = 0;
                for (let li of li_s){
                    let a_content = li.children[0].children[0].children[0].children[0];

                    if(a_content.text.toLowerCase().trim().includes(input.toLowerCase())){
                        li.style.display = null;
                        a_content.classList.remove(a_content.classList[1]);
                        if(index%2==0){
                            a_content.classList.add("badge-success");
                        }else{
                            a_content.classList.add("badge-primary");
                        }

                        index=index+1;
                    }else{
                        li.style.display = "none";
                    }
                }



                let li_s_shared = document.getElementById("files_list_shared").getElementsByTagName("li");
                for (let li of li_s_shared){
                    let a_content = li.children[0].children[0].children[0].children[0];

                    if(a_content.text.toLowerCase().trim().includes(input.toLowerCase())){
                        li.style.display = null;
                    }else{
                        li.style.display = "none";
                    }
                }

            }
        </script>

    {{/if}}
</nav>
