{{#*inline "page"}}
    <h4>Zarejestruj się</h4>
    <form action="/register" method="POST">
        <div class="mb-3">
            <label for="uname" class="form-label">Nazwa użytkownika</label>
            <input class="form-control" type='text' id='uname' name='uname'

                {{#if message.optional}}
                   value="{{{message.optional}}}"
                {{/if}}
            >
        </div>
        <div class="mb-3">
            <label for="pwd" class="form-label">Hasło</label>
            <div class="input-group mb-3">
                <input class="form-control" type='password' id='pwd1' name='pwd'>
                <div class="input-group-append">
                    <a onclick="click1()" onmouseover="hover1()" onmouseleave="hover_end1()" style="text-decoration: none" href="#">
                        <span class="input-group-text" id="basic-addon2" aria-hidden="true">👁</span>
                    </a>
                </div>
            </div>
        </div>
        <button class='btn btn-success' type='submit'>Zarejestruj</button>
    </form>
    {{#if msg_rej}}
        <h6>
            <span class="badge bg-{{ msg_rej.html_color }}">{{ msg_rej.message }}</span>
        </h6>
    {{/if}}

    <script>
        function click1(){
            let type = document.getElementById("pwd1").type;
            if (type == "text"){
            document.getElementById("pwd1").type = "password";
            }else{
            document.getElementById("pwd1").type = "text";
            }
        }

        function hover1(){
            document.getElementById("pwd1").type = "text";
        }

        function hover_end1(){
            document.getElementById("pwd1").type = "password";
        }

        function click2(){
            let type = document.getElementById("pwd2").type;
            if (type == "text"){
            document.getElementById("pwd1").type = "password";
            }else{
            document.getElementById("pwd1").type = "text";
            }
        }

        function hover2(){
            document.getElementById("pwd2").type = "text";
        }

        function hover_end2(){
            document.getElementById("pwd2").type = "password";
        }
    </script>


{{/inline}}
{{> layout}}